<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quatropdois.selfieSwap"
    android:versionCode="2"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
<!--         <activity  -->
<!--             android:name="com.google.ads.AdActivity" -->
<!--             android:configChanges="keyboard|keyboardHidden|orientation"> -->
            
<!--         </activity> -->

<!--         <activity -->
<!--             android:name="com.google.android.gms.ads.AdActivity" -->
<!--             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" /> -->
        
        <activity
            android:name="com.quatropdois.selfieSwap.Splash4p2_activity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quatropdois.selfieSwap.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.quatropdois.selfieSwap.CameraActivity"
            android:label="@string/title_activity_camera"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
            android:configChanges="orientation|keyboardHidden">
        </activity>
<!--         android:screenOrientation="sensorLandscape" -->
        <activity
            android:name="com.quatropdois.selfieSwap.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@android:style/Theme.DeviceDefault" >
        </activity>
        
        <activity
            android:name="com.quatropdois.selfieSwap.OlhosActivity"
            android:label="@string/title_activity_olhos"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="com.quatropdois.selfieSwap.NarizActivity"
            android:label="@string/title_activity_nariz"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="com.quatropdois.selfieSwap.BocaActivity"
            android:label="@string/title_activity_boca"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="com.quatropdois.selfieSwap.ActivityPhotoEdit"
            android:label="@string/title_activity_boca"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <!-- img crop -->
        <activity
            android:name="com.quatropdois.crop.CropImage"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.quatropdois.selfieSwap.Splash_selfieSwapActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_splash_selfie_swap"
            android:screenOrientation="portrait" >
        </activity>
        
        
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
    
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" >
        </meta-data>
                
    </application>

</manifest>
